/* * {
    outline: 1px dashed rgba(128, 128, 128, 0.5);
} */

.wrapper {    
    margin: auto;   
    max-width: 1020px;
}

.section {
    box-sizing: border-box;
    color: #666d89;
    font-family: 'Lato', sans-serif;  
    padding: 69px 41px;  
}

.section .section__caption {
    font-size: 30px;
    font-weight: 900;
    line-height: 18px;
    margin: 0;
}

.section .section__description {
    font-size: 18px;
    font-weight: 300;
    line-height: 30px;
    margin: 27px 0 0 0;
    text-align: justify;
}

.portfolio {
    background-color: #2d303a;
    box-shadow: 0 6px #323746;
    height: 864px;  
    position: relative;
    z-index: 97;    
}

.imageGallery .imageGallery__filterList {
    display: flex;
    list-style: none;
    margin: 10px 0 0 0;
    padding: 0;
}

.imageGallery .imageGallery__filterButton {    
    background: none;
    border: 1px solid #666d89;
    border-radius: 5px;
    box-sizing: border-box;
    font-family: "Lato";
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    margin-right: 10px;
}

.imageGallery .imageGallery__filterButton:focus {
    outline: none;
}

.imageGallery .imageGallery__filterButton--active,
.imageGallery .imageGallery__filterButton:hover {    
    border-color: #c5c5c5;
    color: #c5c5c5;
}

.imageGallery .imageGallery__filterButton:active {    
    cursor: none;
}

.imageGallery .imageGallery__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style: none;
    margin-top: 19px;;
    padding: 0;

}

.imageGallery .imageGallery__item:nth-of-type(n+13) {
    display: none;
}

.imageGallery .imageGallery__image {
    height: 187px;
    margin-bottom: 20px;
    margin-left: -1px;
    margin-right: -2px;
    overflow: hidden;
    position: relative;
    width: 220px;
}

.imageGallery .imageGallery__image img {
    left: -1px;
    position: absolute;    
    top: -1px;
    height: 190px;
    width: 223px;
}

.imageGallery .imageGallery__item:nth-of-type(4n+1) .imageGallery__image img {
    left: -2px;
    position: absolute;    
    top: -1px;
    width: 224px;
}

.about {
    background-color: #f2f2f2;
    box-shadow: 0 6px #fff;
    height: 728px;  
    padding-top: 68px;
    position: relative;
    z-index: 96;    
}

.section+.about {
    padding-top: 74px;
}

.about .section__description {
    margin-bottom: 45px;
}

.about .photoGallery {
    margin-left: -1px;
}

.photoGallery .photoGallery__list {
    display: flex;
    justify-content: space-between;
    list-style: none;
    margin: 0;
    padding: 0;
}

.photoGallery .photoGallery__item:nth-of-type(2) {
    margin: 0 21px 0 19px;
}

.photoGalleryItem {
    width: 300px;
}

.photoGalleryItem .photoGalleryItem__image {
    height: 300px;
    overflow: hidden;
}

.photoGalleryItem .photoGalleryItem__caption {        
    font-size: 18px;   
    font-weight: 900;
    line-height: 18px;
    margin: 17px 0 0 0;
    overflow: hidden;
    white-space: nowrap;
}

.photoGalleryItem .photoGalleryItem__description {        
    font-size: 12px;
    font-weight: 400;
    text-align: justify;
    line-height: 22px; 
    width: 304px;
    margin: 9px 0 0 0;
}

.photoGalleryItem .photoGalleryItem__socialList {
    display: flex;
    list-style: none;
    margin: 22px 0 0 0;
    padding: 0;
}

.photoGallery :nth-child(3) .photoGalleryItem__socialList {
    margin-left: -1px;
}

.photoGalleryItem .photoGalleryItem__socialItem {
    margin-right: 5px;
}

.gag {
    height: 12px;
    position: relative;
    z-index: 95;    
}