* {
    /* outline: 1px dashed rgba(128, 128, 128, 0.5); */
}

.wrapper {    
    margin: auto;   
    max-width: 1020px;
}

.section {
    box-sizing: border-box;
    color: #666d89;
    font-family: 'Lato', sans-serif;  
    padding: 69px 41px;  
}

.section .section__caption {
    font-size: 30px;
    font-weight: 900;
    line-height: 18px;
    margin: 0;
}

.section .section__description {
    font-size: 18px;
    font-weight: 300;
    line-height: 30px;
    margin: 27px 0 0 0;
    text-align: justify;
}

.section .section__content {
    display: flex;
    justify-content: space-between;
    margin-top: 44px;
}

.feedback {
    background-color: #f06c64;
    box-shadow: 0 6px #ea676b;
    height: 648px;  
    position: relative;
    z-index: 95;    
}

.section.feedback {
    color: #f0d8d9;
    padding: 68px 40px;
}

.form {
    display: flex;
    flex-basis: 619px;
    flex-direction: column;
    width: 500px;
}

.form * {
    background-color: #d6564f;
    border: none;
    border-radius: 5px;  
    box-sizing: border-box;
    color: #f0d8d9;  
    height: 38px;
    line-height: 22px; 
    margin-bottom: 16px;
    outline: none;
    padding: 0 0 5px 15px;  
}

.form *::placeholder {
    color: #f48c8f;
    font-size: 12px;
    font-weight: 400;
}

.form textarea {
    height: 202px;
    padding-top: 7px;
    resize: none;
}

.contact {
    flex-basis: 301px;
}

.contact .contact__caption {
    font-size: 18px;    
    font-weight: 900;
    line-height: 18px;
    margin: 0 0 0 1px;
}

.contact .contact__description {
    font-size: 12px;
    font-weight: 400;
    line-height: 22px;
    margin-top: 10px;
    padding: 0;
    text-align: justify;
    margin-bottom: 20px;
}

.contact .contact__list {
    font-size: 12px;
    font-weight: 400; 
    line-height: 22px;
    list-style: none;
    padding: 0 0 0 24px;  
}

.contact .contact__item {
    position: relative;
}

.contact .contact__item--geo::before {
    content: '';
    display: block;
    height: 11px;
    background: url("assets/images/geo.svg") no-repeat;
    left: -20px;
    position: absolute;
    top: 5px;
    width: 7px;
}

.contact .contact__item--tel::before {
    content: '';
    display: block;
    height: 11px;
    background: url("assets/images/tel.svg") no-repeat;
    left: -22px;
    position: absolute;
    top: 5px;
    width: 11px;
}

.contact .contact__item--email::before {
    content: '';
    display: block;
    height: 8px;
    background: url("assets/images/email.svg") no-repeat;
    left: -23px;
    position: absolute;
    top: 8px;
    width: 13px;
}

.contact .contact__item:first-child {
    margin-bottom: -1px;
}

.contact .contact__link {
    color: #f0d8d9;
    text-decoration: none;
}

.footer {
    background-color: #2d303a; 
    box-sizing: border-box;   
    display: flex;
    height: 82px;
    justify-content: space-between;
    padding: 6px 43px 0 42px;
    position: relative;
    z-index: 94;     
}

.footer .links {
    margin-top: -1px;
}

.links .photoGalleryItem__socialList {
    display: flex;
    list-style: none;
    margin: 22px 0 0 0;
    padding: 0;
    width: 150px;
}

.links .photoGalleryItem__socialItem {
    margin-right: 6px; 
}