html {
    scroll-behavior: smooth;
}

.wrapper {    
    margin: auto;   
    max-width: 1020px;    
}

.anchor {
    height: 0;
    position: absolute;
    top: -89px;
    width: 0;
}

.header {
    align-items: center;
    background-color: #2d303a;
    box-shadow: 0 6px #323746;
    box-sizing: border-box;
    display: flex;
    height: 89px;    
    justify-content: space-between;
    max-width: 1020px;
    padding: 0 40px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;    
}

.burger {
    display: none;
}

.logo {
    color: #fff;
    font-family: 'Lato', sans-serif;
    font-size: 25px;
    font-weight: 700;
    height: 20px;
    line-height: 20px;
    margin: 0;
    text-transform: uppercase;
}

.logo .logo__asterisk {
    color: #f06c64;
}

.header .header__logo {
    margin-left: -1px;
    margin-top: -3px;    
}

.menu .menu__list {
    display: flex;
    justify-content: space-between;
    list-style: none;
    margin: 0;    
    padding: 0;
    width: 372px;  
}

.menu .menu__item:nth-child(n+2)::before {         
    color: #494e62;
    content: "•";
    display: inline-block;
    transform: translate(-11px, 2px) scale(0.6);
}

.menu .menu__link {
    color: #fff;
    font-family: 'Lato', sans-serif;
    font-size: 12px;
    font-weight: 700;    
    text-decoration: none;
    text-transform: uppercase;
}

.menu .menu__link--active {
    color: #f06c64;
}

.menu .menu__link:not(.menu__link--active):hover {
    color: #f06c64;
}

.header .header__menu {
    margin-right: -1px;
    margin-top: 6px;    
}

.main {
    margin-top: 89px;
}

.slider {
    align-items: center;
    background-color: #f06c64;
    box-shadow: 0 6px #ea676b;
    /* display: flex; */
    font-size: 0;
    height: 600px;    
    justify-content: center;
    overflow: hidden;
    position: relative;
    white-space: nowrap;
    z-index: 99;
}

.slider .slider__button {
    background: url("assets/images/slider\'s\ left\ arrow.svg") center no-repeat;
    border: none;
    cursor: pointer;
    height: 27px;
    margin-top: 287px;
    left: 42px;
    position: absolute;
    width: 16px;
    z-index: 99;
}

.slider .slider__button.slider__button--direction--right {
    left: unset;
    right: 40px;
    transform: rotate(180deg);
}

.slider .slider__button:active {
    cursor: none;
}

.slider .slider__button:focus {
    outline: none;
}

.slider .slider__button:hover {
    transform: scale(1.33);
}

.slider .slider__button--fromLeft {
    transform: translateX(-100%);
}

.slider .slider__button--fromRight {
    transform: translateX(100%);
}

.slider .slider__button.slider__button--direction--right:hover {
    transform: rotate(180deg) scale(1.33);
}

.slider .slider__image {
    display: inline-block;    
    /* height: 600px; */
    /* left: -1020px; */
    position: relative;
    /* width: 1020px; */
    height: 100%;
    left: -100%;
    width: 100%;    
}

.features {
    background-color: #f2f2f2;
    box-sizing: border-box;
    box-shadow: 0 6px #ffffff;
    color: #666d89;
    font-family: 'Lato', sans-serif;      
    min-height: 500px;
    padding: 65px 29px 66px 32px;
    position: relative;
    z-index: 98;    
}

.feature {
    box-sizing: border-box;
    padding-left: 79px;
    position: relative;
    width: 299px;     
}

.feature .feature__caption {
    color: #666d89;
    font-family: 'Lato', sans-serif;      
    font-size: 18px;
    font-weight: 900;   
    margin: 0 0 8px;
    width: 220px;
}

.feature .feature__description {
    color: #767e9e;
    font-family: 'Lato', sans-serif;      
    font-size: 12px;
    font-weight: 400; 
    height: 69px;
    line-height: 22px;
    margin: 0;
    overflow: hidden;
    padding-top: -5px;
    text-align: justify;
    width: 220px;
}

.feature .feature__image {
    left: -2px;
    position: absolute;
    top: 4px;
}

.features .features__caption {    
    font-size: 30px;
    font-weight: 900;
    margin: 0;
    padding-left: 8px;
}

.features .features__description {    
    font-size: 18px;
    font-weight: 300;
    line-height: 30px;
    padding-left: 9px;
    padding-right: 11px;
    text-align: justify;
}

.features .features__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.features .features__item {
    margin-top: 24px;
}

.section {
    box-sizing: border-box;
    color: #666d89;
    font-family: 'Lato', sans-serif;  
    padding: 74px 41px;  
}

.section .section__caption {
    font-size: 30px;
    font-weight: 900;
    line-height: 18px;
    margin: 0;
}

.section .section__description {
    font-size: 18px;
    font-weight: 300;
    line-height: 30px;
    margin: 27px 0 0 0;
    text-align: justify;
}

.portfolio {
    background-color: #2d303a;
    box-shadow: 0 6px #323746;
    height: 869px;  
    position: relative;
    z-index: 97;    
}

.imageGallery .imageGallery__filterList {
    display: flex;
    list-style: none;
    margin: 10px 0 0 0;
    padding: 0;
}

.imageGallery .imageGallery__filterButton {    
    background: none;
    border: 1px solid #666d89;
    border-radius: 5px;
    box-sizing: border-box;
    font-family: "Lato";
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    margin-right: 10px;
}

.imageGallery .imageGallery__filterButton:focus {
    outline: none;
}

.imageGallery .imageGallery__filterButton--active,
.imageGallery .imageGallery__filterButton:hover {    
    border-color: #c5c5c5;
    color: #c5c5c5;
}

.imageGallery .imageGallery__filterButton:active {    
    cursor: none;
}

.imageGallery .imageGallery__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style: none;
    margin-top: 19px;;
    padding: 0;

}

.imageGallery .imageGallery__item:nth-of-type(n+13) {
    display: none;
}

.imageGallery .imageGallery__image {
    box-sizing: border-box;
    height: 187px;
    margin-bottom: 20px;
    margin-left: -1px;
    margin-right: -2px;
    overflow: hidden;
    position: relative;
    width: 220px;
}

.imageGallery .imageGallery__image {
    cursor: pointer;
}

.imageGallery .imageGallery__image--active {
    border: 5px solid #F06C64;
}

.imageGallery .imageGallery__image img {
    left: -1px;
    position: absolute;    
    top: -1px;
    height: 190px;
    width: 223px;
}

.imageGallery .imageGallery__item:nth-of-type(4n+1) .imageGallery__image img {
    left: -2px;
    position: absolute;    
    top: -1px;
    width: 224px;
}

.about {
    background-color: #f2f2f2;
    box-shadow: 0 6px #fff;
    min-height: 734px;  
    position: relative;
    z-index: 96;    
}

.about .section__description {
    margin-bottom: 45px;
}

.about .photoGallery {
    margin-left: -1px;
}

.photoGallery .photoGallery__list {
    display: flex;
    justify-content: space-between;
    list-style: none;
    margin: 0;
    padding: 0;
}

.photoGallery .photoGallery__item:nth-of-type(2) {
    margin: 0 21px 0 19px;
}

.photoGalleryItem {
    width: 300px;
}

.photoGalleryItem .photoGalleryItem__image {
    height: 300px;
    overflow: hidden;
}

.photoGalleryItem .photoGalleryItem__caption {        
    font-size: 18px;   
    font-weight: 900;
    line-height: 18px;
    margin: 17px 0 0 0;
    overflow: hidden;
    white-space: nowrap;
}

.photoGalleryItem .photoGalleryItem__description {        
    font-size: 12px;
    font-weight: 400;
    text-align: justify;
    line-height: 22px; 
    width: 304px;
    margin: 9px 0 0 0;
}

.photoGalleryItem .photoGalleryItem__socialList {
    display: flex;
    list-style: none;
    margin: 22px 0 0 0;
    padding: 0;
}

.photoGallery :nth-child(3) .photoGalleryItem__socialList {
    margin-left: -1px;
}

.photoGalleryItem .photoGalleryItem__socialItem {
    margin-right: 5px;
}

.section .section__content {
    display: flex;
    justify-content: space-between;
    margin-top: 44px;
}

.feedback {
    background-color: #f06c64;
    box-shadow: 0 6px #ea676b;
    min-height: 654px;  
    position: relative;
    z-index: 95;    
}

.section.feedback {
    color: #f0d8d9;
    padding: 74px 40px;
}

.form {
    display: flex;
    flex-basis: 619px;
    flex-direction: column;
    width: 500px;
}

.form * {
    background-color: #d6564f;
    border: none;
    border-radius: 5px;  
    box-sizing: border-box;
    color: #f0d8d9;  
    height: 38px;
    line-height: 22px; 
    margin-bottom: 16px;
    outline: none;
    padding: 0 0 5px 15px;  
}

.form *::placeholder {
    color: #f48c8f;
    font-size: 12px;
    font-weight: 400;
}

.form textarea {
    height: 202px;
    padding-right: 15px;
    padding-top: 7px;
    resize: none;
}

.send {
    background: #FBC65F;
    color: #886A30;
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    text-align: center;    
    width: 136px;
    height: 38px;   
    margin: 0;
    padding: 0;
}

.contact {
    flex-basis: 301px;
}

.contact .contact__caption {
    font-size: 18px;    
    font-weight: 900;
    line-height: 18px;
    margin: 0 0 0 1px;
}

.contact .contact__description {
    font-size: 12px;
    font-weight: 400;
    line-height: 22px;
    margin-top: 10px;
    padding: 0;
    text-align: justify;
    margin-bottom: 20px;
}

.contact .contact__list {
    font-size: 12px;
    font-weight: 400; 
    line-height: 22px;
    list-style: none;
    padding: 0 0 0 24px;  
}

.contact .contact__item {
    position: relative;
}

.contact .contact__item--geo::before {
    content: '';
    display: block;
    height: 11px;
    background: url("assets/images/geo.svg") no-repeat;
    left: -20px;
    position: absolute;
    top: 5px;
    width: 7px;
}

.contact .contact__item--tel::before {
    content: '';
    display: block;
    height: 11px;
    background: url("assets/images/tel.svg") no-repeat;
    left: -22px;
    position: absolute;
    top: 5px;
    width: 11px;
}

.contact .contact__item--email::before {
    content: '';
    display: block;
    height: 8px;
    background: url("assets/images/email.svg") no-repeat;
    left: -23px;
    position: absolute;
    top: 8px;
    width: 13px;
}

.contact .contact__item:first-child {
    margin-bottom: -1px;
}

.contact .contact__link {
    color: #f0d8d9;
    text-decoration: none;
}

.footer {
    background-color: #2d303a; 
    box-sizing: border-box;   
    display: flex;
    height: 82px;
    justify-content: space-between;
    padding: 6px 43px 0 42px;
    position: relative;
    z-index: 94;     
}

.footer .links {
    margin-top: -1px;
}

.links .photoGalleryItem__socialList {
    display: flex;
    list-style: none;
    margin: 22px 0 0 0;
    padding: 0;
    width: 150px;
}

.links .photoGalleryItem__socialItem {
    margin-right: 6px; 
}

.ibutton {    
    border-radius: 50%;
    cursor: pointer;
    height: 45px;
    left: 197px;
    position: absolute;
    top: 459px;
    width: 45px;  
}

.ibutton.ibutton--second {
    left: 431px;
    top: 262px;
}

.ibutton:hover {
    border: 1px solid lightgray;
}

.iscreen {
    border-radius: 3px;
    height: 333px;
    left: 126px;
    position: absolute;
    top: 119px;    
    width: 188px;    
    transition: background-color linear 1s;   
}

.iscreen.iscreen--second {
    height: 188px;
    left: 485px;
    top: 191px;
    width: 333px;
}

.iscreen.iscreen--black {
    background-color: #000;
}

@media (max-width: 767px) {
    .wrapper {
        min-width: 320px;
        width: 100%;
        background-color: #2d303a;
    }

    .header {
        box-shadow: none;
        max-height: 71px;
        width: 100vw;
        padding: 0 20px;
    }

    .burger {
        display: inline-block;
        cursor: pointer;
        margin: -0.1333vw 0 0 0.2667vw;
        /* margin: 6.8667vw 0 0 0.2667vw; */
        /* margin: -0.1333vw 0 0 0.2667vw; */
    }

    .header .header__logo {
        margin: auto;
        font-family: Lato;
        font-style: normal;
        font-weight: bold;
        font-size: 19.6875px;
        line-height: 24px;     
        letter-spacing: -0.03em;        
        color: #FFFFFF;      
        padding-right: 15px;  
        display: inline-block;
        margin: 0 27vw 0 0;         
    }

    .menu {
        display: none;
    }

    .menu .menu__list {
        flex-direction: column;  
    }    

    .menu .menu__item:nth-child(n+2)::before {  
        content: none;
    }

    .header.header--burger {
        height: 100vh;
        max-height: unset;
        width: 74.1333vw;
        display: block;
    }

    .burger.burger--burger {
        transform: rotate(90deg);
    }

    .logo.logo--burger {   
        margin: 26px 0 0 5vw;
    }

    .menu.menu--burger {
        height: 100%;
        margin: 0;
        padding-left: 13.6vw;
        padding-top: 48.5333vw;    
        display: block;    
    }

    .menu.menu--burger li {
        margin-bottom: 28px;
    }

    .menu.menu--burger a {
        font-family: Lato;
        font-style: normal;
        font-weight: bold;
        font-size: 24px;
        line-height: 29px;
        letter-spacing: -0.035em;  
    }

    .main {
        margin-top: 71px;
    }

    .slider {
        box-shadow: 0 3px #ea676b;
        height: 58.1333vw;
    }

    .slider .slider__image {
        height: 100%;
        width: 100%;
    }

    .slider .slider__button {
        margin-top: 25.8667vw;
        left: 2.4000vw;
    }
    
    .slider .slider__button.slider__button--direction--right {
        right: 2.4000vw;
    }   

    .features {
        box-shadow: none;
        max-height: 1035px;
        padding: 7.2000vw 7.7333vw 5.8667vw 6.4000vw;
    }
    
    .features .features__description {
        text-align: left;
    }    

    .features .features__item {
        margin-left: 2.9333vw;
        margin-top: 8px;
    }    

    .features .features__item:nth-of-type(2) {
        margin-left: 2.9333vw;
        margin-top: 21px;
    }   

    .features .features__item:nth-of-type(3) {
        margin-left: 2.4vw;
        margin-top: 20px;
    }      

    .features .features__item:nth-of-type(4) {
        margin-left: 2.6667vw;
        margin-top: 20px;
    }     

    .features .features__item:nth-of-type(5) {
        margin-left: 2.6667vw;
        margin-top: 21px;
    }      
    
    .features .features__item:nth-of-type(6) {
        margin-left: 2.4vw;
        margin-top: 20px;
    }       

    .feature {
        width: 83.7333vw;     
    }

    .feature .feature__description {
        width: 100%;
    }

    .section {
        padding: 13.6vw 8vw 3vw;   
    }

    .section .section__description {
        text-align: left;
        padding-right: 1.8667vw;
    }    

    .portfolio {
        height: unset;
    }
    
    .imageGallery .imageGallery__filterList {
        margin: 15px 0 0 0;
    }    

    @media (max-width: 355px) {
        .imageGallery .imageGallery__filterButton {
            margin-right: 2.6667vw;
            padding: 0 0.7vw; 
        }
    }

    .imageGallery .imageGallery__image {
        height: 34.1333vw;
        width: 40.2667vw;
        margin: 1.6vw 0 2.1333vw 0;
    }

    .imageGallery .imageGallery__image img {
        height: unset;
        width: 40.8000vw;
    }    

    .imageGallery .imageGallery__item:nth-of-type(4n+1) .imageGallery__image img {
        width: 40.8000vw;
    }   
    
    .imageGallery .imageGallery__item:nth-of-type(n+9) {
        display: none;
    }    

    .about {
        box-shadow: none;
        padding: 48px 8.5333vw;  
        padding-bottom: 40px; 
    }    

    .about .section__description {
        margin-bottom: 24px;
    }    

    .photoGallery .photoGallery__list {
        flex-direction: column;
    }    

    .photoGalleryItem {
        width: 83.7333vw;
    } 

    .photoGalleryItem .photoGalleryItem__image {
        height: 83.7333vw;
    }    
    
    .photoGalleryItem .photoGalleryItem__image img {
        height: 83.7333vw;
    }     

    .photoGalleryItem .photoGalleryItem__description {
        margin: 4px 0 0 0;
        width: 100%;
    }    

    .photoGalleryItem .photoGalleryItem__socialList {
        margin: 10px 0 0 -1px;
    }    

    .photoGallery .photoGallery__item:nth-of-type(2) {
        margin: 0;
        margin-top: 29px;
    }    

    .photoGallery .photoGallery__item:nth-of-type(3) {
        margin: 0;
        margin-top: 29px;
    }       

    .section.feedback {
        padding: 53px 8vw;
        padding-bottom: 23px;
    }    

    .section .section__content {
        flex-direction: column;
        margin-top: 23px;
    }    

    .form * {
        margin-bottom: 12px;
        padding: 0 0 4px 7px;
    }    
    .form {
        flex-basis: unset;
        width: 84vw;
        margin-bottom: 19px;
    }    

    .form textarea {
        padding-top: 5px;
        height: 159px;
        margin-bottom: 14px;;
    }    

    .send {
        width: 100%;
        height: 50px;
    }

    .contact {
        flex-basis: unset;
    }  

    .contact .contact__description {
        margin-top: 4px;
        margin-bottom: 12px;
    }    

    .contact .contact__list {
        padding: 0 0 0 23px;
    }    

    .contact .contact__item:first-child {
        margin-bottom: 2px;
    }    

    .contact .contact__item:last-child {
        margin-top: 3px;
    }    

    .copyright {
        display: none;
    }    

    .footer .links {        
        margin: 0 auto;
    }    

    .ibutton {   
        height: 4.4118vw;
        left: 19.7vw;
        top: 44.55vw;
        width: 4.4118vw;
    }
    
    .ibutton.ibutton--second {
        left: 42.5vw;
        top: 25.5vw;
    }
    
    .iscreen {
        height: 32.6471vw;
        left: 12.8vw;
        top: 11.4vw;    
        width: 18.4314vw;
    }
    
    .iscreen.iscreen--second {
        height: 18.4314vw;
        left: 47.5490vw;
        top: 18.5vw;
        width: 32.6471vw;
    } 
}

@media (min-width: 768px) and (max-width: 1019px) {
    .wrapper {
        width: 100%;
    }

    .header {
        width: 100vw;
    }

    .logo.header__logo {
        margin: 0 30vw 0 0;
    }

    .menu .menu__list {
        width: 48.4375vw;   
        margin-right: 20px;
    }    

    .slider {
        height: 58vw;
        box-shadow: 0 3px #ea676b;
    }

    .slider .slider__image {
        height: 100%;
        width: 100%;
    }

    .slider .slider__button {
        margin-top: 27.75vw;
        left: 3.80vw;
    }
    
    .slider .slider__button.slider__button--direction--right {
        right: 3.3vw;
    }      

    .features {
        padding: 5.25vw 6vw 8.3vw 4.2vw;
    }

    .features .features__item {
        margin-left: -1.6vw;
        margin-top: 14px;
    }    

    .features .features__item:nth-of-type(2) {
        margin-left: 0.9333vw;
        margin-top: 17px;
    }   

    .features .features__item:nth-of-type(3) {
        margin-left: -1.6vw;
        margin-top: 42px;
    }      

    .features .features__item:nth-of-type(4) {
        margin-left: 0.6667vw;
        margin-top: 43px;
    }     

    .features .features__item:nth-of-type(5) {
        margin-left: -1.3333vw;
        margin-top: 45px;
    }      
    
    .features .features__item:nth-of-type(6) {
        margin-left: 0.4vw;
        margin-top: 45px;
    }       

    .feature {
        width: 39.0625vw;     
    }

    .feature .feature__description {
        width: 100%;
    }    

    .section .section__description {
        margin: 27px 34px 0 0;
    }    

    .portfolio {
        height: unset;
        padding-bottom: 4.8177vw;
    }
    
    .imageGallery .imageGallery__filterList {
        margin: 15px 0 0 0;
    }    

    .imageGallery .imageGallery__image {
        height: 24vw;
        width: 27.1497vw;
        margin: 4px 0 1.4vw 0;
    }

    .imageGallery .imageGallery__image img {
        height: unset;
        width: 28.1497vw;
    }    

    .imageGallery .imageGallery__item:nth-of-type(4n+1) .imageGallery__image img {
        width: 28.1497vw;
    }     
    
    .about {
        padding-top: 8.2697vw;
        padding-left: 5.0781x;
        padding-bottom: 8.3333vw;
        min-height: unset;
    }      
    
    .about .section__description {
        margin-bottom: 4.9479vw;
    }    

    .photoGalleryItem {
        width: 28.5156vw;
    } 

    .photoGalleryItem .photoGalleryItem__image {
        height: 28vw;
    }    
    
    .photoGalleryItem .photoGalleryItem__image img {
        height: 28vw;
    }     

    .photoGalleryItem .photoGalleryItem__caption {  
        margin: 1.4323vw 0 0 0;
    }
    

    .photoGalleryItem .photoGalleryItem__description {
        margin-top: 0;
        width: 100%;
    }    

    .photoGalleryItem .photoGalleryItem__socialList {
        margin: 0;
        margin-top: 10px;
    }    

    .photoGallery .photoGallery__item:nth-of-type(2) {
        margin: 0;
        margin-left: 1.3vw;
    }    

    .photoGallery .photoGallery__item:nth-of-type(3) {
        margin: 0;
        margin-left: 1.3vw;
    }     

    .feedback {
        min-height: unset;
    }

    .section.feedback {
        padding: 8.6vw 5.15vw;
        padding-bottom: 6px;
    }    

    .section .section__content {
        margin-top: 23px;
    }    

    .form * {
        margin-bottom: 12px;
        padding: 0 0 4px 7px;
    }   

    .form {
        flex-basis: unset;
        width: 268vw;
        margin-bottom: 19px;
        margin-right: 27px;
    }    

    .form textarea {
        padding-top: 5px;
        height: 159px;
        margin-bottom: 14px;;
    }    

    .send {
        width: 17vw;
        height: 38px;
        margin-top: 5px;
    }

    .contact {
        flex-basis: unset;
    }  

    .contact .contact__description {
        margin-top: 4px;
        margin-bottom: 12px;
    }    

    .contact .contact__list {
        padding: 0 0 0 23px;
    }    

    .contact .contact__item:first-child {
        margin-bottom: 2px;
    }    

    .contact .contact__item:last-child {
        margin-top: 3px;
    }    
    
    .ibutton {   
        height: 4.4118vw;
        left: 19vw;
        top: 44.4vw;
        width: 4.4118vw; 
    }
    
    .ibutton.ibutton--second {
        left: 41.5vw;
        top: 25.5vw;
    }
    
    .iscreen {
        height: 32.6471vw;
        left: 11.8vw;
        top: 11.4vw;    
        width: 18.4314vw; 
    }
    
    .iscreen.iscreen--second {
        height: 18.4314vw;
        left: 46.5vw;
        top: 18.5vw;
        width: 32.6471vw;
    }        
}